#shared_database_path G:\My Drive\Books_1\1_Books_04\2_cover_testing\shared.db
shared_database_path = /mnt/g/My\ Drive/Books_1/1_Books_04/2_cover_testing/shared.db
#shared_database_path /mnt/c/Users/Brylle\ Padilla/AppData/Roaming/sioyek/shared.db
#shared_database_path /mnt/c/Users/Brylle\ Padilla/AppData/Roaming/sioyek/shared.db

